html {
  background: url("https://cdn.lynda.com/course/373782/373782-636247511734821922-16x9.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}

.App {
  text-align: center;
}

.note {
  /* background: white; */
  border: 3px black solid;
  width: 20%;
  margin: 20px;
  opacity: .9;
}

.note__h1 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.note__p {
  padding-bottom: 50px;
}